* {
    box-sizing: border-box;
}

body {
    background: paleturquoise;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.sun {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    background: moccasin;
    border-radius: 300px;
    right: 30px;
    top:10px;

}
