
*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 1;
    margin: 10px;
    position: relative;
    transition: flex 1s ease-in;
}

h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    margin: 0px;
    opacity: 0;
    transition: opacity 1s ease-in 0.5s;
}

.panel.active {
    flex: 10;
}

.panel.active h3 {
    opacity: 1;
}
