
* {
    box-sizing : border-box;
    margin: 0;
    padding: 0;
}

body {

    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    background:lavenderblush;
}


.loading {
    position: absolute;
    top: 245px;
    right:5px;
    height: 60px;
    width: 400px;
    background: pink;
    color: white;
    margin: 3px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search {
    position: absolute;
    top: 245px;
    left: 5px;
    height: 60px;
    width: 400px;
    background: pink;
    color: white;
    margin: 3px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red {
    position: absolute;
    top: 245px;
    right:480px;
    height: 60px;
    width: 400px;
    background: pink;
    color: white;
    margin: 3px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.expanding {
    position: absolute;
    top: 60px;
    left: 5px;
    height: 60px;
    width: 400px;
    background: pink;
    color: white;
    margin: 3px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event {
    position: absolute;
    top: 150px;
    left: 5px;
    height: 60px;
    width: 400px;
    background: pink;
    color: white;
    margin: 3px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.interact {
    position: absolute;
    top: 150px;
    right: 480px;
    height: 60px;
    width: 400px;
    background: pink;
    color: white;
    margin: 3px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sound {
    position: absolute;
    top: 150px;
    right: 5px;
    height: 60px;
    width: 400px;
    background: pink;
    color: white;
    margin: 3px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    position: absolute;
    top: 60px;
    right: 480px;
    height: 60px;
    width: 400px;
    background: pink;
    color: white;
    margin: 3px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insect {
    position: absolute;
    top: 60px;
    right: 5px;
    height: 60px;
    width: 400px;
    background: pink;
    color: white;
    margin: 3px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    align-items: center;
    position:absolute;
    justify-content: center;
    left: 420px;
    font-size: 50px;
    color: pink;
}

.theme {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 140px;
    height: 40px;
    background: white;
    color: pink;
    border-radius: 10px;
}
