
* {
    box-sizing: border-box;

}


body {
    background: green;
    color: white;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

.screen {
    height: 100vh;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    line-height: 1.4;
}

.btn {
    border: 0;
    background: white;
    color: green;
    padding: 15px 20px;
    cursor: pointer;
}


.choose-insect-btn img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.btn:hover {
    opacity: 0.9;
}
