*{
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: black;
    color: red;
}

.bg {
    width: 100 vw;
    height: 100 vh;
    background-image: url('darkroom.avif');
    position: abosolute;
    background-repeat: no-repeat;
    background-position: center;
    transition: flex 1s ease-in;
}
