
* {
    box-sizing:border-box;
}



body{
    background: #333333;
    color: darkseagreen;
    margin: 0;
    overflow-x: hidden;
}

.container {
    background: #fafafa
    width: 100vw;
    min-height: 100vh;
    padding; 50px;
}
