<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Shizuru&display=swap" rel="stylesheet">* {
    box-sizing: border-box;
}


.cinzel-<uniquifier> {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

* {
    box-sizing:
    padding:
    margin: 0;
}


body {
    background: #333333;
    color: darkseagreen;
    margin: 0;
    overflow-x: hidden;
    font-family: "Cinzel", serif;
    padding-bottom:
}

.container {
    font-family: "Cinzel", serif;
    background: #fafafa
    width: 100vw;
    min-height: 100vh;
    padding: 50px;

}

.nav {
    position: fixed;
    background: pink;
    top: 0;
    left: 0;
    right: 0;
    

}
