
body {
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: rgb(176,72,96);
}

.box {
    height: 50px;
    width: 50px;
    background: pink;
}
