
body {
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: rgb(176,72,96);
}

.box {
    height: 50px;
    width: 50px;
    background: pink;
}

.home {
    width: 90px;
    height: 20px;
    background: lightpink;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 3px;
}
