* {
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 300px;
    width: 300px;
    position: relative;
    transform: scale(1);
}

.circle {
    background: darkslategrey;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.gradient-circle {
    background: conic-gradient(
        #55b7ab 0%,
        #4ca493 40%,
        #ffffff 40%,
        #ffffff 60%,
        #336d62 60%,
        #2a5b52 100%
    );
    height: 320px;
    width: 320px;
    z-index: -2;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
}

.pointer {
    background: white;
    border-radius: 300px;
    width: 20px;
    height: 20px;
    display: block;
    transform-origin: bottom center;

}

.pointer-container {
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    transform-origin: bottom center;
    animation: rotate 7.5s linear forwards infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.container.grow {
    animation: grow 3s linear forwards;
}

@keyframes small {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

.container.small {
    animation: small 3s linear forwards;
}

.home {
    width: 90px;
    height: 20px;
    background: grey;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 3px;
}
