*{
    box-sizing: border-box;
}

body {
    background: pink;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.search {
    position: relative;
    height: 50px;
}

.input {
    background: white;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 1s ease;
}

.btn {
    background: white;
    border: 0;
    cursor: pointer;
    font-size: 23px;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s ease;
}

.input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}
