@import <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">


* {
    box-sizing: border-box;

}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: PapayaWhip;
    font-family: 'garamond', serif;
}

.buttons {

}

.btn {
    background: lightskyblue;
    color: steelblue;
    margin: 2.5rem;
    padding: 1.5rem 1rem;
    font-size: 30px;
    border-radius: 10px;
    border-color: midnightblue;
    cursor: pointer;
    font-family: 'garamond', serif;
}

.btn:hover {
    opacity: 0.88;
}
